body {
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
/* Set the width of all elements to 100% of the viewport width */
* {
  box-sizing: border-box;
  max-width: 100%;
}
.homepage-header {
    width: 100%;
    height: 100vh; /* Set the height of the header equal to the viewport height */
    display: flex;
    justify-content: flex-end; /* Align nav to the right side */
}
header {
    width: 100%;
    height: auto; /* Set the height of the header equal to the viewport height */
    display: flex;
    justify-content: flex-end; /* Align nav to the right side */
  }
  
  nav {
    position: absolute;
    top: 320px; /* Set a value to position the nav menu from the top */
    right: 30px; /* Set a value to position the nav menu from the right */
    display: flex;
    flex-direction: column; /* Change the direction of nav items to vertical */
    align-items: center; /* Center nav items horizontally */
    justify-content: center; /* Center nav items vertically */
    padding: 15px 0; /* Add some padding on the top and bottom */
    z-index: 1000;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
nav li {
    display: block; /* Make nav items stack vertically */
    margin-bottom: 15px; /* Add some space between nav items */
  }
  
nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
  }
  
nav a:hover {
    background-color: #ddd;
    color: black;
  }
  

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    flex-grow: 1;
    
}

.intro {
    position: relative; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}


h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

h2 {
    font-size: 26px !important;
    font-weight: extra-bold;
    margin-bottom: 30px;
}

.artwork-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.artwork {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.artwork img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.logo-container {
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 2;
  }
  
  
.logo-container h2 {
    margin: 0;
    font-size: 20px;
  }

.logo-container p {
    margin: 1;
    font-size: 15px;
  }

.logo-link {
    color: white;
    text-decoration: none;
  }

#artworks-section {
    background-color: black;
    height: auto;
  }
  
.carousel-control {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: black; /* Change the color to black */
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.carousel-control:hover {
    color: rgba(0, 0, 0, 0.8); /* Change the color to a slightly transparent black */
  }

.artwork-carousel {
    max-width: 1400px; /* set the maximum width to 600 pixels */
    margin: 0 auto; /* center the carousel horizontally */
  }

.slick-prev, .slick-next {
    background-color: black !important;
    color: white !important;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    z-index: 10;
}

.slick-prev:hover, .slick-next:hover {
    background-color: #333 !important;
    color: white !important;
}

.header-container {
    position: fixed;
    height: auto !important;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
  }
  
  .main-container {
    padding-top: 0px;
  }
  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
  }

.contact-form {
    font-family: "VT323", monospace;
    font-size: 18px;
    color: #00FF00;
    background-color: #000000;
    padding: 20px;
    border: 2px solid #00FF00;
    border-radius: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: #000000;
    color: #00FF00;
    border: 1px solid #00FF00;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    caret-color: #00FF00;
    font-family: "VT323", monospace;
    font-size: 18px;
}
input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.contact-form button {
    background-color: #00FF00;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-form button {
    background-color: #00FF00;
    color: #000000;
    font-family: "VT323", monospace;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 255, 0, 0.4);
    position: relative;
}

.contact-form button:hover {
    background-color: #00CC00;
}

.contact-form button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2) 50%, transparent 50%, transparent 100%);
    pointer-events: none;
    animation: scanlines 1s linear infinite;
}

@keyframes scanlines {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 100%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #00ff00;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  box-shadow: 0 0 0px 1000px black inset;
}


.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}
.contact-container h2 {
    color: #00FF00 !important;
    font-family: "VT323", monospace !important;
}
.contact-container p {
    color: #00FF00 !important;
    font-family: "VT323", monospace !important;
    font-size: 26px !important;
    padding: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #000;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .artwork-carousel img {
    opacity: 0;
  }

  
